<h2> You are at app component</h2>
<nav>
  <ul>
    <li class="showInline"> <a routerLink="first" routerLinkActive="linkActive">Go to FIRST</a> </li>
    <li class="showInline"> <a routerLink="second" routerLinkActive="linkActive">Go to SECOND</a></li>
    <li class="showInline"> <a routerLink="athelete" routerLinkActive="linkActive">Show Cricketers</a></li>
    <li class="showInline"> <a routerLink="activity" routerLinkActive="linkActive">Show Activity</a></li>
  </ul>
</nav>

 <router-outlet></router-outlet>